.team-banner {
  max-width: 100%;
}

.team-matches-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  padding: 30px;
}

.bg-color-sh {
  background: linear-gradient(to bottom, #f26d22, #1e293b);
}

.bg-color-rr {
  background: linear-gradient(to bottom, #5755a7, #1e293b);
}

.bg-color-rcb {
  background: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.bg-color-csk {
  background: linear-gradient(to bottom, #f7db00, #1e293b);
}

.bg-color-kkr {
  background: linear-gradient(to bottom, #13418b, #1e293b);
}

.bg-color-kxp {
  background: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.bg-color-mi {
  background: linear-gradient(to bottom, #13418b, #1e293b);
}

.bg-color-dc {
  background: linear-gradient(to bottom, #13418b, #1e293b);
}
